nav {
    background: #f0f9ff; /* Old browsers */
    background: -moz-linear-gradient(top, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 );
    height: 4em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.brand {
    align-items: flex-start;
    height: 3.5em;
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-family: 'Pacifico', cursive; 
    letter-spacing: 3px;
}  
.brand img{
    /* width: 25%; */
    height: 100%;
}  
.nav__links{
    display: flex;
    align-items: center;
    flex-direction: row;
}
